.navbar{
display: flex;
justify-content: space-between;
padding: 16px;
box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
display: flex;
align-items: center;
gap: 10px;
}

.nav-logo p{
    font-size: 35px;
    font-weight: 600;
    color: dimgray;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: dimgray;
font-size: 20px;
font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    width: 80%;
    height: 2px;
    border: none;
    border-radius: 10px;
    background-color: #2b0c0c;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 100px;
    height: 30px;
    outline: none;
    border: 1px solid rgb(82, 80, 80) ;
    border-radius: 75px;
    color:rgb(41, 34, 34);
    font-size: 20px;
font-weight: 500;
background: white;
cursor: pointer;

}
.nav-login-cart button :active{
    color: blue;
}
.nav-cart-count{
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}